<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Planner</title>
    </head>
    <body>
        <h1>Planner App</h1>
        <div>
            <form action="/" method="post">
                <input type="text" name="title" placeholder="Add a new task..." required />
                <button type="submit">Add</button>
            </form>
            <th:block th:each="task : ${tasks}">
                <div>
                    <span th:classappend="${task.completed} ? 'text-completed'" th:text="${task.title}">Task Title</span>
                    <div>
                        <a th:href="@{/{id}/toggle(id=${task.id})}">Toggle</a>
                        <a th:href="@{/{id}/delete(id=${task.id})}">Delete</a>
                    </div>
                </div>
            </th:block>
        </div>
    </body>
</html>